<!DOCTYPE html>
<html>
  <head>
    <title>OutNow</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.svg') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'screen', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'animate', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%=javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#=javascript_include_tag 'https://js.stripe/com/v3/', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: "stripe-public-key", content: Rails.application.credentials.stripe_publishable_key %>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css"
      rel="stylesheet" />
      <%= Gon::Base.render_data %>
    </head>
    <body>
      <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
      <script src="https://npmcdn.com/@turf/turf@5.1.6/turf.min.js"></script>
      <link
    rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
    type="text/css"
    />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <%= include_gon %>
        <%= yield %>
      </body>
    </html>
